.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}


.App-header {
  background-color: #4cb1ba;
  height: 100px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 30px;
}

.App-intro {
  font-size: large;
}

.Table {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}



